# Ignore all files under tmp except .keep
/tmp/*
!/tmp/.keep

# Ignore all files under domain spec dummy tmp except .keep
/domains/**/dummy/tmp/*
!/domains/**/dummy/tmp/**/.keep

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/db/*.sqlite3
/public/system/*
/coverage/
/domains/**/coverage
/spec/tmp/*
/spec/examples.txt
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
*.swp
*.swo
*.sublime-workspace
*.vim
/.powenv
/.powder
/.envrc
/.env
/.rails_irbrc
/.ruby-gemset
/.ruby-version
/.rvmrc
/.foreman
/.vagrant
/.powrc
/.idea
/config/config.yml
/config/getambassador.yml
/config/ticketing.yml
/public/uploads
/public/migrations
/*_status.png
/script/output
doc/*.sql
/doc/tony-ftp-keys.txt
/config/config.yml.old
/dump.rdb
npm-debug.log
config/honeybadger.yml
config/honeybadger-resque.yml
/node_modules
/public/assets/images/app/sprite.svg
/public/assets/javascripts/app.min.js
/public/assets/stylesheets/style.css
/app/assets/main/javascript/tmp
.sublime-gulp.cache
sublime-gulp.log
/public/dist
.pryrc
.gemrc
.zeus.json
/custom_plan.rb
Procfile.personal
package-lock.json
yarn-error.log
/doc/state_machines/
.rspec_status
/domains/**/log/*.log

# Ignore encrypted secrets key file.
config/secrets.yml.key

# Used for Vault in Development mode
.vault-role

# Local Dev Env Config
picard-json-schema
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
.tool-versions
.tool-versions-e
.vscode/settings.json
